<h2>Master</h2>

<table class='master'>
    <tbody>
    <tr class='odd'>
        <td>Number of workers</td>
        <td> <%=master.noWorkers %> (<%=master.workersKilled%> killed)</td>
    </tr>
    <tr>
        <td>Number of core used </td>
        <td> <%=master.coresUsed%></td>
    </tr>
    <tr class='odd'>
        <td>Mem usage at startup </td>
        <td> <%=master.memoryUsageAtBoot%></td>
    </tr>
    <tr>
        <td>Current total mem usage </td>
        <td> <span id='currentMemoryUsage'><%=master.currentMemoryUsage%></td>
    </tr>
    <tr class='odd'>
        <td>CPU usage </td>
        <td> <span  id='hostCpu'><%=master.hostCpu%></span>%</td>
    </tr>
    <tr>
        <td>Average load </td><td>
        <span id='averageLoad'><%=master.averageLoad%></span></td>
    </tr>
    </tbody>
</table>

<h2>Logs</h2>

<a href="/logs">Logs</a>

<h2>Counters</h2>

  <div class="counters">
      <table>
      <% for(var pid in master.workers) { %>
          <tbody>
          <tr>
              <td colspan="2" class="pid">Worker <%= pid %></td>
          </tr>
          <% for(var name in master.workers[pid]) { %>
          <tr>
              <td><%=name%></td>
              <td><%=master.workers[pid][name]%></td>
          </tr>
          <% } %>
          </tbody>
      <% } %>
      </table>
  </div>


